@import "../../global.scss";

.about {
  background-color: black;
  display: flex;
  color: white;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 5em;
  margin-top: auto;

  @include mobile {
    padding: 1em;
  }

  h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaa;
    font-family: "Poppins", sans-serif;
    &::after {
      content: "";
      width: 120px;
      height: 1px;
      display: inline-block;
      background: rgb(65, 201, 255);
      margin: 4px 10px;
    }
  }

  .section-title {
    margin: -5px 0 15px 0;
    font-size: 2.5rem;
    overflow: hidden;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #fff;
    @include mobile {
      font-size: 1rem;
    }
  }
  h3 {
    font-weight: 700;
    font-size: 26px;
    color: rgb(65, 201, 255);
    font-family: "Raleway", sans-serif;
    @include mobile {
      font-size: 15px;
    }
  }
  .para {
    padding: 1em;
    font-family: "Open Sans", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    word-spacing: 2px;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    @include mobile {
      font-size: 0.7rem;
    }
  }

  ul {
    justify-content: center;
    align-items: center;
    gap: 5px;

    li{
      display: flex;
      padding: 1em;
      font-size: 1rem;
      gap: 10px;
      margin: 1rem;
      @include mobile {
        font-size: 0.7rem;
        margin: 0.2rem;
        padding: 0.3em;
      }
    }
  }

  .skill {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
  

  .skill-cintainer{
    display: flex;
    width: 10rem;
    font-size: 1rem;
    margin: 0.5rem;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    height: 50px;
    background-color: rgb(53, 49, 49);
    overflow: hidden;
    border-radius: 10px;
    @include mobile {
      width: 7rem;
      font-size: 0.7rem;
      height: 40px;
    }
  }
}

  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;

    @include mobile {
      display: none;
    }
  }
}
